@charset "UTF-8";

.cart_box{
  width: 600px;
  margin:auto;
  text-align: center;
}
.cart_box h2{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
table{
  width: 100%;
}
table, th, td{
  padding: 5px;
}
th{
  border-bottom: 1px solid #ddd;
}
.ea{
  width: 50px;
}
.delete-btn{
  width: 50px;
  float: right;
  margin:15px;
  padding: 5px;
}
