@charset "UTF-8";

.join_box{
  width: 400px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.join_box h2{
	text-align: center;
}
.join_box table{
  margin: auto;
}
input{
  padding: 5px;
}
input[type=submit]{
  width: 100%;
}
