@charset "UTF-8";

.login_box {
	width: 200px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
}
.login_box h2{
	text-align: center;
}
.login_area {
  text-align: center;
}
.login_area input{
  padding:5px;
  margin-top: 3px;
}
.login_area input[type=text],
.login_area input[type=password]{
  width:90%;
}
.login_area input[type=submit],
.login_area input[type=button]{
  width:100%;
}
